<h2>Cards styled with Semantic UI <i class="hashtag icon"></i>ElmRails <i class="hand spock icon"></i></h2>

<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">Rails</div>
      <div class="meta">This is a Rails Component</div>
      <div class="description">
        This is Rails html!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <div class="header">Elm</div>
      <div class="meta">This is an Elm Component</div>
      <div class="description">
        <%= elm_embed("Elm.Hello", @hello) %>
      </div>
    </div>
  </div>
</div>
